body {
    font-family:sans-serif;
}
#calculator {
    width:430px;
    border:1px solid black;
    background-color:black;
}
#screen {
    height:100px;
    color:white;
    font-size:45px;
    padding:20px;
    text-align:right;
}
#buttons {
    display:flex;
    flex-wrap:wrap;
    padding:5px;
}
button {
    height:100px;
    width:100px;
    margin:2px;
    font-size:30px;
    border-radius:50%;
    background-color:rgb(56, 56, 56);
    color:white;
    border:none;
}
.operator {
    background-color:orange;
}
.special {
    background-color:rgb(112, 112, 112);
}